*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #FFFF;
    --font-color1: #000000;
    --font-color2: #000000c8;

    --sectionCard-bgColor: #E7FAFE;
    --redHeart-color: #FF6363;
    --paleHeart-color: #DBE2E5;

    --icons-color: #000000;
    --font-family1: 'Lobster', cursive;
    --font-family2: 'Inter', sans-serif;
    --copyright-font: 'Exo 2', sans-serif; 

}


/*body*/
body {
    font-family: var(--font-family2);
    
    p {
        color: var(--font-color2);
    }

    h4 {
        color: var(--font-color1);
    }

    h3 {
        color: var(--font-color1);
    }

}


/*Header and contents*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 30px 50px 0px 50px; */
    border-bottom: 1px solid #00000034;
}

header #nameTitle {
    margin: 30px 0px 30px 50px;
    color: var(--font-color1);
    font-family: var(--font-family1);
    font-size: 1.5em;
    font-weight: 400;
}.indent {
    color: var(--redHeart-color);
}

header #pageLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 40rem; */
    gap: 50px;
    margin: 30px 0px 30px 0px;
}

#pageLinks a {
    text-decoration: none;
    font-family: var(--font-family2);
    font-weight: 500;
    font-size: 1em;
    color: var(--font-color1);
    padding-bottom: 0.2rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease;
}

#pageLinks a:hover {
    border-color: var(--redHeart-color);
}

header #socialHandles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 15rem; */
    gap: 50px;
    margin: 30px 50px 30px 0px;

}#socialHandles a {
    font-size: 1em;
    color: var(--icons-color);
}



/*Professional chef section*/

#professionalChef {
    margin: 80px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
}

#professionalChef h3 {
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 0px;
    word-spacing: 5px;
    text-align: center;
}


#professionalChef-Div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

}


#professionalChef-Div #span1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-weight: 600;
}

#professionalChef-Div #span2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 400;
}

#professionalChef-Div #span2 #p1 {
    transform: scale(1.5);
}


#professionalChef-P {
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
}

#professionalChef-IMG {
    width: 100%;
    border-radius: 50px;
}




/*Section-2 -- how to start food industry*/

article {
    display: flex;
    margin: 50px 50px 50px 150px;
    padding: 30px;
    gap: 200px;

}

#fatherSection {
    padding-left: 20px;
    padding-right: 20px;

    /* border: 1px solid; */
}

#fatherSection .section-H4 {
    font-size: 1.1em;
    font-weight: 600;
}

#fatherSection .section-P {
    margin-top: 20px;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 20px;
    
}

#section2, #section3, #section4,
#section6 {
    margin-top: 80px;
}

#section3 h4 {
    margin-bottom: 30px;
}

#section3 span img {
    width: 46rem;
    /* border: 1px solid; */
}

#section-5 {
    margin-top: 50px;
    padding: 30px;
    background: linear-gradient(to right, #0000000f 50%, #FFFFFF 100%);
    /* box-shadow: 0px 0px 1px #00000053; */
}

#section-5 h4 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 40px;
    font-style: italic;
}


#article-nav {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 25px;
}

#article-nav a {
    color: var(--font-color1);
    font-size: 1.2em;
}



/*Deliciousness to your inbox section*/

#deliciousnessToYourInbox {
    margin: 100px 50px 0px 50px;
    padding-top: 80px;
    border-radius: 50px;
    background-color: var(--sectionCard-bgColor);
}

#deliciousnessToYourInbox #upperWriteup h4 {
    text-align: center;
    font-size: 3em;
    font-weight: 600;

}

#deliciousnessToYourInbox #upperWriteup p {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin-top: 25px;
    line-height: 30px;
}


#lowerInputAndImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lowerInputAndImages #inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--background-color);
}

#email {
    border: none;
    width: 20rem;
    padding: 10px;
    outline: none;
}

#emailButton {
    width: 10rem;
    padding: 10px;
    border-radius: 15px;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;

    /* &:hover {

    } */
}


#leftImage, #rightImage{
    width: 20rem;
}



/*Delcious recipe section*/

#deliciousRecipe {
    margin: 100px 50px 0px 50px;

}

#deliciousRecipe h4 {
    text-align: center;
    font-size: 2.3em;
    font-weight: 600;
}

#foodsRecipe {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.foodsRecipeCards {
    position: relative;
    width: 20rem;
    height: 22rem;
    margin-top: 0px;
    background-color: var(--background-color);
    
}

.foodsRecipeCards img {
    width: 100%;
    border-radius: 20px;
}

.foodsRecipeCards-P {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--font-color1);
    margin-top: 15px;
    line-height: 25px;
}

.foodsRecipeCards-Div {
    margin-top: 30px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
}

.foodsRecipeCards-Div .span1, .span2 {
    display: flex;
    gap: 10px;
    color: var(--font-family1);
}

.heartIcons {
    position: absolute;
    top: 3%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--background-color);
    
}

.redHeart {
    color: var(--redHeart-color);
}

.paleHeart {
    color: var(--paleHeart-color);
}



/*Footer*/

footer {
    margin: 100px 50px 0px 50px;
}

footer #div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}


#div1Span h4 {
    color: var(--font-color1);
    font-family: var(--font-family1);
    font-size: 1.5em;
    font-weight: 400;
}#indent {
    color: var(--redHeart-color);
}

#div1Span {
    margin-top: 15px;
}

#div1Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 40rem; */
    gap: 50px;
    margin: 30px 0px 30px 0px;
}

#div1Nav a {
    text-decoration: none;
    font-family: var(--font-family2);
    font-weight: 500;
    font-size: 1em;
    color: var(--font-color1);
    padding-bottom: 0.2rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease;
}

#div1Nav a:hover {
    border-color: var(--redHeart-color);
}


footer #div2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#div2 p {
    font-size: 0.9em;
    font-weight: 400;
}

#highlight {
    color: var(--redHeart-color);
}


#div2 #socialHandles {
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 15rem; */
    gap: 50px;
    

}#socialHandles a {
    font-size: 1em;
    color: var(--icons-color);
}




/*RESPONSIVENESS*/
/*RESPONSIVNESS*/

@media (max-width: 1025px) {

    body {
        max-width: 100%;
    }

    header {
        max-width: 100%;
    }

    header #pageLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }   

    header #socialHandles {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    /* Professional Chef */
    #professionalChef { 
        margin: 60px 30px 30px 30px; 
    }

    #professionalChef h3 { 
        font-size: 2.8em; 
    }

    #professionalChef-Div { 
        gap: 40px; 
    }

    /* Article */
    article {
        flex-direction: column;
        margin: 50px 30px;
        gap: 50px;
    }

    #article-nav {
        flex-direction: row;
    }

    #section3 span img { 
        width: 100%; 
    }

    /* Deliciousness */
    #deliciousnessToYourInbox { 
        margin: 60px 30px 0 30px; 
    }

    #lowerInputAndImages { 
        flex-direction: column; 
        gap: 30px; 
        padding-bottom: 40px; 
        margin-top: 30px;
    }

    #leftImage, #rightImage {
        display: none;
    }

    /* Delicious Recipe */
    #deliciousRecipe { 
        margin: 60px 30px 0 30px; 
    }

    #foodsRecipe { 
        grid-template-columns: repeat(2, 1fr); 
    }

    .foodsRecipeCards { 
        width: 100%; 
        margin-bottom: 100px;
    }

    /* Footer */
    #div1Nav, #div2 #socialHandles {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
}



/* Tablet */
@media (max-width: 769px) {

    /* Header */
    body {
        max-width: 100%;
    }

    /*header*/
    header {
        max-width: 100%;
        font-size: 0.8em;
    }

    header #pageLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    header #socialHandles {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    /* Professional Chef */
    #professionalChef h3 { 
        font-size: 2.3em; 
    }

    #professionalChef-Div { 
        flex-direction: column; 
        gap: 20px; 
    }

    /* Article */
    article { 
        margin: 40px 20px; 
        padding: 15px; 
    }

    #article-nav { 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center; 
    }

    /* Deliciousness to your inbox*/
    #deliciousnessToYourInbox #upperWriteup h4 { font-size: 2.3em; 
    }

    #lowerInputAndImages #inputDiv { 
        width: 100%; 
    }

    /* Delicious Recipe */
    #deliciousRecipe h4 { 
        font-size: 2em; 
    }

    #foodsRecipe { 
        grid-template-columns: 1fr;
        
    }

    .foodsRecipeCards {
        width: 100%;
        margin-bottom: 300px;
    }

    /*FOOTER*/
    footer #div1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8em;
    }

    #div1Nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}



/* MOBILE */
@media (max-width: 426px) {

    /* Header */
    header {
        justify-content: center;
        text-align: center;
        gap: 15px;
        padding: 10px;
    }

    header #nameTitle {
        margin: 15px 0;
    }

    header #pageLinks {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    header #socialHandles {
        margin: 15px 0;
        gap: 25px;
    }

    /* Professional Chef */
    #professionalChef { 
        margin: 40px 15px 20px 15px; 
    }

    #professionalChef h3 { 
        font-size: 2em; 
    }

    #professionalChef-P { 
        margin-top: 20px; 
        margin-bottom: 20px; 
    }

    #professionalChef-IMG {
        width: 100%;
        align-items: center;
        justify-self: center;
    }

    /* Article */
    article { 
        margin: 30px 15px; 
        gap: 30px; 
    }

    #section3 span img { 
        width: 100%; 
    }

    #section-5 h4 { 
        font-size: 1.2em; 
    }

    /* #section2, #section3, #section4, #section6 {        margin-top: 40px; 

    } */

    /* Deliciousness to your inbox */
    #deliciousnessToYourInbox {
        margin: 60px 15px 0 15px;
        padding-top: 40px;
        border-radius: 30px;
        width: 100%;
    }

    #deliciousnessToYourInbox #upperWriteup h4 {
        font-size: 2em;
    }

    #lowerInputAndImages {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 40px;
        max-width: 100%;
        
    }

    #leftImage, #rightImage {
        display: none;
        width: 80%;
    }

    #lowerInputAndImages #inputDiv {
        width: 70%;
        justify-self: center;
    }


    /* Delicious Recipe Section */
    #deliciousRecipe { 
        margin: 50px 15px 0 15px;
        justify-content: center; 
    }

    #deliciousRecipe h4 { 
        font-size: 1.8em; 
    }

    #foodsRecipe {
        justify-content: center;
    }

    .foodsRecipeCards {
        width: 100%;
        margin-bottom: 50px;
    }



    /* Footer */
    footer {
        margin: 60px 15px 0 15px;
    }

    footer #div1 {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    #div1Nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    #div2 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    #div2 #socialHandles {
        position: static;
        gap: 25px;
    }
}