*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #FFFF;
    --font-color1: #000000;
    --font-color2: #000000c8;

    --sectionCard-bgColor: #E7FAFE;
    --redHeart-color: #FF6363;
    --paleHeart-color: #DBE2E5;

    --icons-color: #000000;
    --font-family1: 'Lobster', cursive;
    --font-family2: 'Inter', sans-serif;
    --copyright-font: 'Exo 2', sans-serif;

}

/*body*/
body {
    font-family: var(--font-family2);
    
    p {
        color: var(--font-color2);
    }

    h4 {
        color: var(--font-color1);
    }

    h3 {
        color: var(--font-color1);
    }

}


/*Header and contents*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 30px 50px 0px 50px; */
    border-bottom: 1px solid #00000034;
}

header #nameTitle {
    margin: 30px 0px 30px 50px;
    color: var(--font-color1);
    font-family: var(--font-family1);
    font-size: 1.5em;
    font-weight: 400;
}.indent {
    color: var(--redHeart-color);
}

header #pageLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 40rem; */
    gap: 50px;
    margin: 30px 0px 30px 0px;
}

#pageLinks a {
    text-decoration: none;
    font-family: var(--font-family2);
    font-weight: 500;
    font-size: 1em;
    color: var(--font-color1);
    padding-bottom: 0.2rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease;
}

#pageLinks a:hover {
    border-color: var(--redHeart-color);
}

header #socialHandles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 15rem; */
    gap: 50px;
    margin: 30px 50px 30px 0px;

}#socialHandles a {
    font-size: 1em;
    color: var(--icons-color);
}


/*Contact us form section*/

#contactUsSection {
    margin: 80px 50px 50px 50px;
}

#contactUsSection h4 {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}


/*Form and Image section*/

#formAndImage {
    display: flex;
    align-items: start;
    margin-top: 50px;
}

.contact-form {
    width: 100%;
    padding: 1rem;

}

#formSection {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form-group{
 display: flex;
 align-items: center;
 gap: 4rem;
}

.form-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.form-item input {
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #DBE2E5;
}

.form-item select {
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #DBE2E5;
}

.form-item #messages {
    height: 10rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #DBE2E5;
}



/*Deliciousness to your inbox section*/

#deliciousnessToYourInbox {
    margin: 100px 50px 0px 50px;
    padding-top: 80px;
    border-radius: 50px;
    background-color: var(--sectionCard-bgColor);
}

#deliciousnessToYourInbox #upperWriteup h4 {
    text-align: center;
    font-size: 3em;
    font-weight: 600;

}

#deliciousnessToYourInbox #upperWriteup p {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin-top: 25px;
    line-height: 30px;
}


#lowerInputAndImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lowerInputAndImages #inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--background-color);
}

#email {
    border: none;
    width: 20rem;
    padding: 10px;
    outline: none;
}

#emailButton {
    width: 10rem;
    padding: 10px;
    border-radius: 15px;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;

    /* &:hover {

    } */
}


#leftImage, #rightImage{
    width: 20rem;
}


/*Delcious recipe section*/

#deliciousRecipe {
    margin: 100px 50px 0px 50px;

}

#deliciousRecipe h4 {
    text-align: center;
    font-size: 2.3em;
    font-weight: 600;
}

#foodsRecipe {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.foodsRecipeCards {
    position: relative;
    width: 20rem;
    height: 22rem;
    margin-top: 0px;
    background-color: var(--background-color);
    
}

.foodsRecipeCards img {
    width: 100%;
    border-radius: 20px;
}

.foodsRecipeCards-P {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--font-color1);
    margin-top: 15px;
    line-height: 25px;
}

.foodsRecipeCards-Div {
    margin-top: 30px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
}

.foodsRecipeCards-Div .span1, .span2 {
    display: flex;
    gap: 10px;
    color: var(--font-family1);
}

.heartIcons {
    position: absolute;
    top: 3%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--background-color);
    
}

.redHeart {
    color: var(--redHeart-color);
}

.paleHeart {
    color: var(--paleHeart-color);
}



/*Footer*/

footer {
    margin: 100px 50px 0px 50px;
}

footer #div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}


#div1Span h4 {
    color: var(--font-color1);
    font-family: var(--font-family1);
    font-size: 1.5em;
    font-weight: 400;
}#indent {
    color: var(--redHeart-color);
}

#div1Span {
    margin-top: 15px;
}

#div1Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 40rem; */
    gap: 50px;
    margin: 30px 0px 30px 0px;
}

#div1Nav a {
    text-decoration: none;
    font-family: var(--font-family2);
    font-weight: 500;
    font-size: 1em;
    color: var(--font-color1);
    padding-bottom: 0.2rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease;
}

#div1Nav a:hover {
    border-color: var(--redHeart-color);
}


footer #div2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#div2 p {
    font-size: 0.9em;
    font-weight: 400;
}

#highlight {
    color: var(--redHeart-color);
}


#div2 #socialHandles {
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 15rem; */
    gap: 50px;
    

}#socialHandles a {
    font-size: 1em;
    color: var(--icons-color);
}



/*RESPONSIVENESS*/

@media (max-width: 1025px) {

    /* Header */
    body {
        max-width: 100%;
    }

    header {
        max-width: 100%;
    }

    header #pageLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }   

    header #socialHandles {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    /* Contact Section */
    #contactUsSection {
        margin: 60px 30px 30px 30px;
    }

    #contactUsSection h4 {
        font-size: 2.5em;
    }

    /* Form and Image */
    #formAndImage {
        flex-direction: column;
    }

    #formAndImage img {
        display: none;
    }

    .form-group {
        flex-direction: column;
        gap: 2rem;
    }

    /* Deliciousness */
    #deliciousnessToYourInbox {
        margin: 60px 30px 0 30px;
    }

    #lowerInputAndImages {
        flex-direction: column;
        gap: 30px;
        padding-bottom: 40px;
    }

    #lowerInputAndImages #inputDiv {
        width: 100%;
        margin-top: 30px;
    }

    #leftImage, #rightImage {
        display: none;
    }



    /* Delicious Recipe */
    #deliciousRecipe {
        margin: 60px 30px 0 30px;
    }

    #foodsRecipe {
        grid-template-columns: repeat(2, 1fr);

    }

    .foodsRecipeCards {
        width: 100%;
        margin-bottom: 100px;
    }


    /* Footer */
    #div1Nav, #div2 #socialHandles {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
}


/* Tablet */
@media (max-width: 769px) {

    /* Header */
    body {
        max-width: 100%;
    }

    /*header*/
    header {
        max-width: 100%;
        font-size: 0.8em;
    }

    header #pageLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    header #socialHandles {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    /* Contact Section */
    #contactUsSection h4 {
        font-size: 2em;
    }

    /* Form and Image */
    .form-group {
        gap: 1.5rem;
    }

    .form-item input,
    .form-item select,
    .form-item #messages {
        font-size: 0.95em;
    }

    /* Deliciousness */
    #deliciousnessToYourInbox #upperWriteup h4 {
        font-size: 2.3em;
    }

    /* Delicious Recipe */
    #deliciousRecipe h4 { 
        font-size: 2em; 
    }

    #foodsRecipe { 
        grid-template-columns: 1fr;
        
    }

    .foodsRecipeCards {
        width: 100%;
        margin-bottom: 300px;
    }

    /* Footer */
    footer #div1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8em;
    }

    #div1Nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}


/*MOBILE*/
@media (max-width: 426px) {

    /* Header */
    header {
        justify-content: center;
        text-align: center;
        gap: 15px;
        padding: 10px;
    }

    header #nameTitle {
        margin: 15px 0;
    }

    header #pageLinks {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    header #socialHandles {
        margin: 15px 0;
        gap: 25px;
    }

    /* Contact Section */
    #contactUsSection {
        margin: 40px 15px 20px 15px;
    }

    #contactUsSection h4 {
        font-size: 1.8em;
    }

    /* Form and Image */
    #formAndImage {
        margin-top: 30px;
    }

    .contact-form {
        padding: 0.5rem;
    }

    #formSection {
        gap: 2rem;
    }

    .form-group {
        gap: 1.5rem;
    }

    .form-item input,
    .form-item select,
    .form-item #messages {
        padding: 0.8rem;
        font-size: 0.9em;
    }

    /* Deliciousness */
    #deliciousnessToYourInbox {
        margin: 60px 15px 0 15px;
        padding-top: 40px;
        border-radius: 30px;
        width: 100%;
    }

    #deliciousnessToYourInbox #upperWriteup h4 {
        font-size: 2em;
    }

    #lowerInputAndImages {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 40px;
        max-width: 100%;
        
    }

    #leftImage, #rightImage {
        display: none;
        width: 80%;
    }

    #lowerInputAndImages #inputDiv {
        width: 70%;
        justify-self: center;
    }

    /* Delicious Recipe */
    #deliciousRecipe { 
        margin: 50px 15px 0 15px;
        justify-content: center; 
    }

    #deliciousRecipe h4 { 
        font-size: 1.8em; 
    }

    #foodsRecipe {
        justify-content: center;
    }

    .foodsRecipeCards {
        width: 100%;
        margin-bottom: 50px;
    }

    /* Footer */
    footer {
        margin: 60px 15px 0 15px;
    }

    footer #div1 {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    #div1Nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    #div2 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        text-align: center;
    }

    #div2 #socialHandles {
        position: static;
        gap: 25px;
    }
}